.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title{
    margin-top: 30px;
    margin-bottom: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

.forms-item{
    margin-top: 15px;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}

.item-title{
    font-size: larger;
}    

.forms-input{
    width: 400px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(173, 173, 173); 
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}    

.forms-input:focus-visible{
    outline: 0px;
    border-color: coral;
}

.notice{
    color: coral;
    align-items: center;
    width: 400px;
    text-align: center;
}

button:focus-visible{
    outline: 0px;
}

button{
    margin-top: 10px;
    background-color: rgb(67, 67, 67);
    color: aliceblue;
    border: solid;
    border: 2px;
    border-color: aqua;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 7px;
}

button:hover{
    background-color: coral;
}
